{{#if isUpvote}}
    <div class="comment-upvote">
{{else}}
    <div class="comment-downvote">
{{/if}}
    <p>Comment: <em>{{content}}</em></p>
    <p>upvotes: {{upvotes}}</p>
    <p>downvotes: {{downvotes}}</p>
    <p>Is an Upvote: {{isUpvote}}</p>
</div>